.bannerContainer {
    padding: 20px 50px;
    &__heading {
        margin-left: 15px;
    }
    &__homeArticles {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    &__article {
        margin: 8px;
    }
}
.bannerContainer--mint {
    background-color: #e6f7f2;
}
.bannerContainer--grey {
    background-color: #e5e7eb;
}
.bannerContainer--yellow {
    background-color: #ede9dc;
}
