@use "../../../mediaquery/media.scss";
@use "../../../mediaquery/devices.scss";
@import "../../../assets/variables.scss";

.bannerContainer {
    padding: 20px 50px;
    &__heading {
        margin-left: 15px;
    }
    &__homeArticles {
        display: flex;
        justify-content: center;
    }
    &__article {
        margin: 8px;
        grid-area: "article";
    }
}
.bannerContainerLess {
    display: none;
    padding: 20px 50px;
    &__heading {
        margin-left: 15px;
    }
    &__homeArticles {
        display: flex;
        justify-content: center;
    }
    &__article {
        margin: 8px;
        grid-area: "article";
    }
}

.bannerContainer--mint {
    background-image: $MintBannerColor;
}
.bannerContainer--grey {
    background-image: $GreyBannerColor;
}
.bannerContainer--yellow {
    background-image: $YellowBannerColor;
}

.bannerContainer {
    @include media.small-tablet {
        display: none;
    }
    @include media.tablet {
        display: none;
    }
    @include media.small-laptop {
        display: none;
    }
}
.bannerContainerLess {
    @include media.small-tablet {
        display: block;
    }
    @include media.tablet {
        display: block;
    }
    @include media.small-laptop {
        display: block;
    }
}
