@use "../../mediaquery/media.scss";
@use "../../mediaquery/devices.scss";
.fullArticle {
    display: flex;
    &__textSection {
        margin: 40px;
        width: 70%;

        &--heading {
            font-size: 50px;
        }
        &--tagline {
            width: 90%;
            font-size: 15px;
            font-weight: 300;
            padding-left: 2px;
            font-style: italic;
        }
        &--date {
            font-weight: 300;
        }
        &--img {
            width: 100%;
            padding-bottom: 10px;
        }
        &--author {
            font-weight: 300;
            font-size: 14px;
            text-align: right;
            padding-bottom: 50px;
        }
    }
    &__sidebar {
        display: flex;
        flex-direction: column;
    }
}

@include media.small-phone {
    .fullArticle {
        flex-direction: column;
        &__textSection {
            margin: 20px;
            width: 90%;

            &--heading {
                font-size: 24px;
            }
            &--tagline {
                font-size: 12px;
            }
            &--date {
                font-size: 12px;
            }
            &--author {
                font-size: 12px;
                padding-bottom: 30px;
            }
        }
        &__sidebar {
            display: flex;
            flex-direction: row;
            width: 100%;
        }
    }
}
@include media.phone {
    .fullArticle {
        flex-direction: column;
        &__textSection {
            margin: 20px;
            width: 90%;

            &--heading {
                font-size: 26px;
            }
            &--tagline {
                font-size: 12px;
            }
            &--date {
                font-size: 12px;
            }
            &--author {
                font-size: 12px;
                padding-bottom: 30px;
            }
        }
        &__sidebar {
            display: flex;
            flex-direction: row;
            width: 100%;
        }
    }
}
@include media.large-phone {
    .fullArticle {
        flex-direction: column;
        &__textSection {
            margin: 20px;
            width: 90%;

            &--heading {
                font-size: 24px;
            }
            &--tagline {
                font-size: 12px;
            }
            &--date {
                font-size: 12px;
            }
            &--author {
                font-size: 12px;
                padding-bottom: 30px;
            }
        }
        &__sidebar {
            display: flex;
            flex-direction: row;
            width: 100%;
        }
    }
}
@include media.kindle {
    .fullArticle {
        flex-direction: column;
        &__textSection {
            margin: 20px;
            width: 90%;

            &--heading {
                font-size: 24px;
            }
            &--tagline {
                font-size: 12px;
            }
            &--date {
                font-size: 12px;
            }
            &--author {
                font-size: 12px;
                padding-bottom: 30px;
            }
        }
        &__sidebar {
            display: flex;
            flex-direction: row;
            width: 100%;
        }
    }
}

@include media.small-tablet {
    .fullArticle {
        flex-direction: column;
        &__textSection {
            margin: 20px;
            width: 90%;

            &--heading {
                font-size: 24px;
            }
            &--tagline {
                font-size: 12px;
            }
            &--date {
                font-size: 12px;
            }
            &--author {
                font-size: 12px;
                padding-bottom: 30px;
            }
        }
        &__sidebar {
            display: flex;
            flex-direction: row;
            width: 100%;
        }
    }
}
