.fullArticle {
    display: flex;
    &__textSection {
        margin: 40px;
        width: 70%;

        &--heading {
            font-size: 50px;
        }
        &--tagline {
            width: 90%;
            font-size: 15px;
            font-weight: 300;
            padding-left: 2px;
            font-style: italic;
        }
        &--date {
            font-weight: 300;
        }
        &--img {
            width: 100%;
            padding-bottom: 10px;
        }
        &--author {
            font-weight: 300;
            font-size: 14px;
            text-align: right;
            padding-bottom: 50px;
        }
    }
    &__sidebar {
        display: flex;
        flex-direction: column;
    }
}
