$xxxxxxs: 320px; // Extra Extra small
$xxxxxs: 425px; // Extra Extra small
$xxxxs: 500px; // Extra Extra small
$xxxs: 724px; // Extra Extra small
$xxs: 924px; // Smaller than extra small
$xs: 1005px; // Extra small
$sm: 1295px; // Small
$md: 1430px; // Medium
$lg: 1530px; // Large
$xl: 1750px; // Extra Large
$xxl: 1930px; // Extra Extra Large
