.wellnessContainer {
    background-color: #e6f7f5;
    padding: 20px 50px;
    &__heading {
        margin-left: 15px;
    }
    &__homeArticles {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}
