.searchContainer {
    padding: 50px;
    &__heading {
        margin-left: 10px;
    }
    &__searchArticles {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    &__article {
        margin: 8px;
    }
}
