.searchbar {
    display: flex;
    justify-content: right;
    align-items: start;
    width: 100%;
    height: 40px;
    background-color: #1e3a8a;
    color: white;
    padding: 5px 0px;

    &__input {
        margin: 0px 20px;
        height: 25px;
        width: 300px;
        border: 2px solid white;
        background-color: #1e3a8a;
    }
}
