@use "../../../mediaquery/media.scss";
@use "../../../mediaquery/devices.scss";
.largeCard {
    margin-right: 8px;
    width: 516px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__heading {
        font-size: 24px;
    }
    &__image {
        padding-bottom: 0px;
    }
    &__date {
        font-size: 14px;
        text-align: right;
    }
    &__byline {
        font-size: 12px;
        margin: 0px;
    }
}

.largeCard {
    @include media.small-phone {
        width: 250px;
        &__heading {
            font-size: 18px;
        }
        &__date {
            font-size: 12px;
            text-align: right;
        }
        &__byline {
            font-size: 12px;
            margin: 0px;
        }
    }
    @include media.phone {
        width: 250px;
        &__heading {
            font-size: 18px;
        }
        &__date {
            font-size: 12px;
            text-align: right;
        }
        &__byline {
            font-size: 12px;
            margin: 0px;
        }
    }
    @include media.large-phone {
        width: 300px;
        &__heading {
            font-size: 18px;
        }
        &__date {
            font-size: 12px;
            text-align: right;
        }
        &__byline {
            font-size: 12px;
            margin: 0px;
        }
    }
    @include media.kindle {
        width: 250px;
        &__heading {
            font-size: 18px;
        }
        &__date {
            font-size: 12px;
            text-align: right;
        }
        &__byline {
            font-size: 12px;
            margin: 0px;
        }
    }
    @include media.small-tablet {
        width: 280px;
        &__heading {
            font-size: 20px;
        }
        &__date {
            font-size: 12px;
            text-align: right;
        }
        &__byline {
            font-size: 12px;
            margin: 0px;
        }
    }
    @include media.tablet {
        width: 350px;
        &__heading {
            font-size: 24px;
        }
        &__date {
            font-size: 14px;
            text-align: right;
        }
        &__byline {
            font-size: 12px;
            margin: 0px;
        }
    }

    @include media.small-laptop {
        width: 400px;
        &__heading {
            font-size: 24px;
        }
        &__date {
            font-size: 14px;
            text-align: right;
        }
        &__byline {
            font-size: 12px;
            margin: 0px;
        }
    }
    @include media.laptop {
        width: 440px;
        &__heading {
            font-size: 28px;
        }
        &__date {
            font-size: 16px;
            text-align: right;
        }
        &__byline {
            font-size: 16px;
            margin: 0px;
        }
    }

    @include media.desktop {
        width: 550px;
        &__heading {
            font-size: 28px;
        }
        &__date {
            font-size: 16px;
            text-align: right;
        }
        &__byline {
            font-size: 16px;
            margin: 0px;
        }
    }
    @include media.large-screen {
        width: 622px;
        &__heading {
            font-size: 30px;
        }
        &__date {
            font-size: 18px;
            text-align: right;
        }
        &__byline {
            font-size: 18px;
            margin: 0px;
        }
    }
    @include media.xlarge-screen {
        width: 750px;
        &__heading {
            font-size: 34px;
        }
        &__date {
            font-size: 20px;
            text-align: right;
        }
        &__byline {
            font-size: 20px;
            margin: 0px;
        }
    }
}
