.largeCard {
    margin-right: 8px;
    width: 516px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__heading {
        font-size: 24px;
    }
    &__image {
        width: 516px;
        padding-bottom: 0px;
    }
    &__date {
        font-size: 14px;
        text-align: right;
    }
    &__byline {
        font-size: 12px;
        margin: 0px;
    }
}
