$PrimaryBackgroundColor: (
    linear-gradient(-70.3deg, rgb(61, 48, 209) 0.4%, rgba(0, 51, 102, 1) 70.2%)
);
$GreyBannerColor: (
    linear-gradient(
        -70.3deg,
        rgb(227, 224, 224) 0.4%,
        rgb(183, 185, 186) 100.2%
    )
);
$MintBannerColor: (
    linear-gradient(
        -70.3deg,
        rgb(226, 232, 230) 0.4%,
        rgb(230, 247, 242) 100.2%
    )
);
$YellowBannerColor: (
    linear-gradient(
        -70.3deg,
        rgb(237, 233, 220) 0.4%,
        rgb(240, 240, 204) 100.2%
    )
);
$highlightcolor: #8a9fc8;
$textcolor: white;
