.navigation {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #1e3a8a;
    color: white;
    padding: 5px 0px;
    &__heading {
        margin: 20px;
        text-decoration: none;
        color: white;
        font-size: 32px;
        font-weight: bold;
    }
    &__list {
        display: flex;
        margin: 20px;
        padding: 5px;
        align-items: center;
        text-decoration: none;
        list-style-type: none;
        gap: 30px;
        &--item {
            color: white;
            text-decoration: none;
        }
    }
}
